<% content_for :head do %>
  <title>Longitude - <%= @route.name %> </title>
<% end %>

<h1>Route: <%= @route.name %></h1>

<h2>Locations:</h2>

<%= render :partial => "locations_table", :locals => {:route => @route} %>

